div{
    font-size: 1rem;
    padding-left: 1rem;
    border: 2px solid rgb(0, 221, 255);
    border-radius: 1rem;
    margin: 4em;
    background-color: #d2691e;
}
div .para{
    font-style: italic;
    color:rgb(255, 255, 255)
    font-weight: 400;
}
div .head{
    border: 5px solid rgb(225, 0, 255);
    border-radius: 3em;
    padding-left: 1rem;
    padding-left: 4rem;
    margin: 2em;
    background-color: white;
    border-spacing: 5em;
    border-width: 5px;
    border-style: solid;
}