body{
    background-color: rgb(20, 27, 20)
}
h1{
    background-color: white;
}

nav{
    
    background-color:rgb(62, 7, 62);
    font-size: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: 2px solid blueviolet;
    margin: 1rem;
    
}
nav ul{
    color:white;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    border-radius: 2px solid;
    justify-content: center;
}
ul li{
    margin: 1rem;
    flex-direction: column;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin: 10px;
    justify-content: center;
    
}